body{
    background-color: #090909;
}

html, body{
    height: 100%;
    margin: 0;
}

/* .divider{
    width: 50%;
    height: 85vh;
    float: left;
    padding-top: 10vh;
} */

.logo-divider{
    width: 50%;
    height: 100vh;
    float: left;
}

.header-divider{
    font-family: Beastman;
    color: white;
    font-size: 2.5rem;
    display: inline-block;
    width: 100%;
    /* position: relative;
    top: 13vh; */
}

.content-divider{
    width: 100%;
    float: right;
    /* position: relative;
    top: 10vh; */
}

.center-content{
    width: 50%;
    float: left;
    height: 100vh;
    position: relative;
}

.container{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 550px;
}

.logo-main{
    text-align: center;
    height: 100%;
}

.align-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    /* margin-top: 5vh; */
    width: 550px ;
    height: auto;
    cursor: pointer;
    transition: filter 0.5s ease-in-out;
}

@font-face{
    font-family: Beastman;
    src: url('../fonts/Beastman.ttf');
}

@font-face{
    font-family: OatmealJack;
    src: url('../fonts/Oatmeal\ Jack\ Script.ttf');
}

@font-face{
    font-family: WonderNight;
    src: url('../fonts/Wonder\ Night.ttf');
}

@font-face{
    font-family: AndThis;
    src: url('../fonts/And\ This\ Happened.ttf');
}

.header{
    font-family: Beastman;
    color: white;
    font-size: 40px;
}

.content{
    font-family: AndThis;
    color: white;
    font-size: 30px;
    padding: 0 55px 10px 0;
}

.links-1{
    width: 100%;
    font-family: WonderNight ;
    /* text-align: center; */
    height: auto;
    overflow: auto;
}

.links-1 .links-box{
    /* width: 30%; */
    /* padding: ; */
    /* float: left; */
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    letter-spacing: 1.2px;
}

.links-1 a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 5px 5px;
    transition: filter 0.5s ease-in-out;
}

.links-1 a:hover{
    text-shadow: 0 0 10px #35bd89,0 0 20px #35bd89,0 0 30px #35bd89;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
    top: 0px;
    left: 0px;
    background-color: black;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.click-here{
    color: #868586;
    font-family: AndThis;
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 5%;
    cursor: pointer;
    /* transform: translate(-50% ,-50%); */
}

.green #logo:hover {
    filter: drop-shadow(0px 0px 15px #5fe22b);
}
.blue #logo:hover {
    filter: drop-shadow(0px 0px 15px #3e41ff);
}
.yellow #logo:hover {
    filter: drop-shadow(0px 0px 15px #e2df2b);
}
.red #logo:hover {
    filter: drop-shadow(0px 0px 15px #ff3131);
}
.purple #logo:hover {
    filter: drop-shadow(0px 0px 15px #bd2be2);
}
.cyan #logo:hover {
    filter: drop-shadow(0px 0px 15px #2be29c);
}

.header h1{
    margin-top: 4%;
    letter-spacing: 3px;
    margin-bottom: 2%;
    /* text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #35bd89, 0 0 8px #35bd89, 0 0 25px #35bd89, 0 0 30px #35bd89, 0 0 35px #35bd89; */
    text-shadow: 0 0 30px #35bd89;
}

.header h1::first-letter{
    font-size: 1.4em;
}

.content p{
    margin-top: 2%;
}

.links-2{
    width: 90%;
    font-family: WonderNight;
    text-align: center;
    margin-bottom: 30px;
    /* height: 50px; */
    overflow: auto;
    margin-top: 23px;
}

.links-2 .links-box{
    float: none;
    display: inline-block;
    /* margin-right: 15px; */
    margin-right: 4px;
    letter-spacing: 1px;
}

.links-2 a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    /* margin: 5px 5px; */
    transition: filter 0.5s ease-in-out;
}

.links-2 a:hover{
    text-shadow: 0 0 10px #35bd89,0 0 20px #35bd89,0 0 30px #35bd89;
}

.separator{
    margin-right: 4px;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    font-family: AndThis;
    font-size: 10px;
    margin: 0;
}

.foot-cont-1{
    height: 100%;
    position: absolute;
    left: 0;
    padding-left: 25px;
    font-size: 20px;
}

.foot-cont-2{
    height: 100%;
    position: absolute;
    right: 0;
    padding-right: 40px;
    font-size: 20px;
}

#link-1{
    text-decoration: none;
    color: white;
}

#link-2{
    text-decoration: none;
    color: white;
}

/* styling for smaller laptops */
@media only screen and (max-width: 1024px){
    #logo{
        width: 400px;
    }
    .click-here{
        font-size: 15px;
    }
    .header{
        font-size: 35px;
    }
    .content{
        font-size: 25px;
    }
    .links-1{
        text-align: center;
    }
    .links-1 a{
        font-size: 32px;
    }
    .links-1 .links-box{
        margin-right: 20px;
    }
}

/* styling for mobiles */
@media only screen and (max-width: 769px) {
    .logo-divider{
        width: 50%;
        height: 25vh;
        padding-top: 7vh;
    }
    #logo{
        width: 150px;
    }
    .center-content{
        width: 100%;
    }
    .click-here{
        font-size: 5px;
        top: 135px;
        left: 10px;
    }
    .header-divider{
        width: 50%;
        font-size: 2rem;
        padding-top: 10vh;
    }

    .content-divider{
        width: 50%;
        float: right;
        position: relative;
        top: 7vh;
    }

    .content-divider{
        width: 100%;
        float: left;
        text-align: center;
        position: relative;
        top: 15px;
    }

    .content{
        font-size: 18px;
        width: 80%;
        margin: auto;
        padding: 0 10px;
    }

    

    .links-container{
        margin-top: 60px;
    }

    .links-1{
        width: 100%;
    }

    .links-1 .links-box{
        margin-right: 3px;
    }

    .links-1 a{
        font-size: 25px;
        letter-spacing: 0.7px;
    }

    .separator{
        margin-right: 1px;
        font-size: 1rem;
    }

    .links-2{
        width: 100%;
        overflow: auto;
        margin: 23px 0;
    }
    
    .links-2 .links-box{
        margin-right: 1px;
        letter-spacing: 0.9px;
    }
    
    .links-2 a{
        font-size: 13px;
    }

    .foot-cont-1{
        font-size: 0.8rem;
    }

    .foot-cont-2{
        font-size: 0.8rem;
        padding-right: 25px;
    }
}

